# Ignore things that are not part of the repository
**/.vscode
**/settings.json
**/.nova
**/*.txt
**/*.xdigi
**/*.dat
**/.idea
**/*.py
!MC/pythia/plotting/*.py


# Ignore data files
**/*.root
**/*.sim

# Ignore plots and graphs
**/*.png
**/*.jpg
**/*.pdf
**/*.svg

# Ignore log files
**/log

# Ignore python cache
**/__pycache__

# Ignore files without extensions
*[^.]