**/.vscode
MC/pythia/.gitignore
**/.nova
**/*.pdf
**/*.txt
**/*.xdigi
**/*.dat
**/*.py
!MC/pythia/plotting/*.py
**/*.root
**/*.sim
**/*.png
**/*.jpg
**/settings.json
**/log
MC/pythia/angle_dist
MC/pythia/len_dist
MC/pythia/kink
**/__pycache__
**/.idea
MC/Gauss/Misc/width_lifetime/stau_calculator
